html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;

  /* background: #62c88b; */
  background: #62c88b;
  background: linear-gradient(
    45deg,
    rgba(98, 200, 139, 1) 0%,
    rgba(98, 200, 142, 1) 100%
  );
  /* height: 100vh; */
}
.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}
